// 1. Your custom variables and variable overwrites.
$global-link-color: #DA7D02;

// 2. Import default variables and available mixins.
@import "node_modules/uikit/src/scss/variables-theme.scss";
@import "node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

.tm-navbar-container {
  background: linear-gradient(to left, #28a5f5, #1e87f0) !important;
}

.tm-sidebar-left {
  width: 300px;
  padding: 45px 45px 60px 45px;
  position: fixed;
  top: 80px;
  bottom: 0;
  box-sizing: border-box;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
}

// 4. Import UIkit.
@import "node_modules/uikit/src/scss/uikit-theme.scss";
